.root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.cardWrapper {
	flex-grow: 1;
	padding: 30px 20px 0px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	background-color: white;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	height: 100%;
	flex: 1;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-direction: column;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 50%;
}

.controlItem {
	border-radius: 50%;
	height: 64px;
	width: 64px;
	box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
	border: 1px solid #e0e0e0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls {
	height: 120px;
	flex-shrink: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.controlIcon {
	height: 40px;
	width: 40px;
}

.controlIcon:active,
.controlIcon:hover {
	background-color: #e0e0e0;
}

.cardOverlay {
	width: 100%;
	height: 100px;
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.itemName {
	margin-left: 15px;
	font-size: 30px;
	color: white;
	font-weight: 900;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.emptyState {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.beerLogo {
	width: 100px;
	height: 100px;
}
